# ---------------------------------
# LOGS
# ---------------------------------
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
.eslintcache

# ---------------------------------
# DEPENDÊNCIAS E LOCK FILES
pnpm-lock.yaml
yarn.lock
package-lock.json
node_modules/

# ---------------------------------
# BUILDS / ARTEFATOS
dist/
dist-ssr/
build/
.storybook-out/
storybook-static/
coverage/
*.tsbuildinfo

# ---------------------------------
# CACHES DE FERRAMENTAS
.vite/
.vite-cache/
.turbo/
.parcel-cache/
.next/
.cache/
.tmp/
temp/
.tmp/
.vercel/
.vercel/cache

# ---------------------------------
# TESTES (Cypress/Playwright)
cypress/videos/
cypress/screenshots/
playwright-report/
test-results/

# ---------------------------------
# CONFIG LOCAL / ENV
*.local
.env
.env.*.local
!.env.example

# ---------------------------------
# EDITOR / OS
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
Thumbs.db
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# ---------------------------------
# ARQUIVOS GRANDES COMUNS
*.mp4
*.mov
*.avi
*.zip
*.rar
*.7z
*.psd
*.ai
*.fig

# ---------------------------------
# GITHUB / VERCEL
.github
