@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Roboto:wght@100..900&family=Source+Sans+3:wght@200..900&display=swap');
@import 'tailwindcss';

@theme {
  --font-inter: 'Inter', Arial, Helvetica, sans-serif;

--color-backPrimary: #FAFAFA;
--color-backSecondary: #FFFFFF;
--color-backBtn: #B91C1C;
--color-hoverBtn: #5E0F0F;
--color-navBtn: #E5E7EB;
--color-navHoverBtn: #9CA3AF;
--color-fontPrimary: #7F1D1D;
--color-fontSecondary: #4A4A4A;
--color-fontTertiary: #1F2937;
--color-clikColor: #B91C1C;
--color-borderColor: #D1D5DB;
--color-fromColor: #D32F2F;
--color-toColor: #F59E0B;
  /* Breakpoints */
  --breakpoint-xs: (max-width: 600px);
  --breakpoint-sm: 600px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1300px;
}

@layer base {
  html,
  body,
  #root {
    heigth: 100%;
  }

  #root {
    @apply flex flex-col min-h-screen font-inter text-fontTertiary bg-backPrimary;
  }

  /* Esconde header e footer quando a página tiver esta classe */
  body.hide-hf header,
  body.hide-hf footer {
    display: none !important;
  }
}
